extends layout

block content
  div(ng-controller='homeCtrl', class='container')
    .page-header
      h1=title
    .row
      p Welcome to #{title}
      p
        label Current Brew:&nbsp
        a(href='{{ currentBrew.recipeUrl }}') {{ currentBrew.name }}
      p
        label Stage:
        &nbspFermentation (started {{ currentBrew.startDT | date }})
      p
        label Last Recorded Temp:
        &nbsp{{ chartData[0].values[chartData[0].values.length - 1].y }} at {{ chartData[0].values[chartData[0].values.length - 1].x.toString() }}
    .row
      nvd3(options='chartOptions', data='chartData')