doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/js/lib.js')
    script(type='text/javascript', src='/js/brew-test.js')
  body(ng-app='brewtest')
    block content
